*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

html {
    height: 100%;
}
 
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    height: 125px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-top: 5px;
    border-style: solid;
    position:absolute; bottom:0;
    width: 100%;
    margin: 0px;
    background-color: white;
}



.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
}

.foto{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    flex-direction: row;
    max-height: 100vh;
}

.foto img{
    object-fit: cover;
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
    max-height: 16vw;
}

.music {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header>nav>ul{
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

header>nav>ul>li{
    display: inline;
}

a{
    color: aliceblue;
}

a:hover{
    color:purple;
    background-color: cadetblue;
}

.center {
    text-align: center;
    margin: 10px;
}

a.logo{
    display: inline-block;
    height: 50px;
}

article{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

h1{
    margin: 10px 0px;
}