*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

@font-face {
    font-family: 'Glitch';
    src: url("../fonts/rubikglitch-regular.ttf")
}

body {
    margin: 0px;
}

.container{
    position: relative;
    min-height: 100vh;
}

.content{
    padding-bottom: 75px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    height: 125px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-top: 5px solid black;
    position:absolute; 
    bottom:0;
    width: 100%;
    margin: 0px;
    background-color: white;
}

.landing{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.intro-text{
    font-size: 16px;
    padding: 10vh;
}

main.landing>img{
    padding: 20px;
    margin-bottom: 10px;
    width: 100px
}

.game{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game>.center{
    padding: 25px;
}

.foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    max-height: 100vh;
}

.foto img{
    object-fit: cover;
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 40vw;
    max-height: 17vh;
}

.music {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.playlist{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95vw;
    align-items:center;
    justify-content: space-around;
}

.songbox{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    margin: 20px 0px 20px 0px;
    width: 97%;
}

.song{
    width: 75%;
}
.songbox img{
    width: 50px;
    border-radius: 20%;
    margin: 0px 20px 0px 0px;
}

header>nav>ul{
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

header>nav>ul>li{
    display: inline;
}

a{
    color: aliceblue;
}

a:hover{
    color:purple;
    background-color: cadetblue;
}

a.ig{
    text-align: center;
    height: 50px;
}

.intro-text{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.bio-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;    
}

div.bio-text>p{
    font-size: large;
}

.left{
    float: left;
    margin: 0 20px 20px 0;
    width: 150px;
    height: 150px;
}

h1{
    font-family: Glitch;
    font-weight: lighter;
    margin: 20px 0px 0px 0px;
    padding: 0px 20px;
}

.center {
    text-align: center;
    margin: 10px 0px 15px 0px;
}

audio{
    width: 100%;
}

.contacto{
    display: flex;
    flex-direction: column;
}

.centered-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap:10px;
}

#link-juego{
    color: black;
}